/* 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0px;
}

.container {
    width: 80vw;
    max-width: 1000px;
    min-width: 300px;
    margin: 0px auto;
    box-sizing: border-box;
}

/* Hero */
#hero {
    background-image: url("../image/Cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* Hero Content */
#hero-content{
    
}

/* Overlay */
#overlay {
    position: absolute;
    top: 75vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 350px 1fr;
}

#overlay img {
    width: 300px;
    padding-left: 25px;
    vertical-align: middle;
}

#logo-div * {
    opacity: 1;
}

#logo-div {
    background-color: darkgray;
    display: inline-block;
    opacity: 0.5;
}

#nav-div {
    display: inline-block;
    background-color: lightgray;
    opacity: 0.5;
}

#nav-div ul {
    list-style: none;
    position: relative;
    height: 66%;
    top: 14%;    
    margin: 0px;
    vertical-align: middle;
    padding-left: 10px ;
}

#nav-div ul li {
    color: #D72521;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#nav-div ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}