h1, h2, .book{
    font-family: sans-serif;
    margin-left: 10%;
    color: white;
}

.top-content {
    width: 70%;
    margin-left: 10%;
    background-color: rgba(240, 128, 128, 0.65);
    border-radius: 0px 20px;
}

.top-content > * {
    margin-top: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5%;
    overflow-x: hidden;
}

#packages > * {
    margin: 2%;
}

#packages {
    display: flex;
    height: 84vh;
    min-height: 500px;
    padding-top: 55px;
}

#background-checks {
    background: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-position: 30%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
    filter: drop-shadow(0px 0px 5px #333);
}

#investigations {
    background: url(../image/2.jpg);
    background-repeat: no-repeat;
    background-position: 30%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
    filter: drop-shadow(0px 0px 5px #333);
}

#surveillance {
    background: url(../image/3.jpg);
    background-repeat: no-repeat;
    background-position: 50%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
    filter: drop-shadow(0px 0px 5px #333);
}


.book {
    font-size: 20px;
    background: #B22222;
    color: white;
    width: 40%;
    height: 10%;
    border-radius: 5px;
    outline: 0;
    border-style: none;
}

.book:hover, .book:active {
    cursor: pointer;
    border-style: none;
    outline: 0;
    background: #F82825;
}

#container {
    width: 80vw;
    margin: 0px auto;
}

p {
    float: left;
    transform:translate(15%, 800%);
}

#tag {
    transform:translate(5%, -400%);
}
