h1, h2, .book{
    font-family: sans-serif;
    margin-left: 10%;
    color: white;
}

.top-content {
    width: 70%;
    margin-left: 10%;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 0px 20px;
}

.top-content > * {
    margin-top: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5%;
    overflow: hidden;
}

#packages > * {
    margin: 2%;
}

#packages {
    display: flex;
    height: 74vh;
    min-height: 500px;
}

#background-checks {
    background: url(./1.jpg);
    background-repeat: no-repeat;
    background-position: 30%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
}

#investigations {
    background: url(./3.jpg);
    background-repeat: no-repeat;
    background-position: 30%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
}

#surveillance {
    background: url(./2.jpg);
    background-repeat: no-repeat;
    background-position: 50%, 25%;
    background-size: cover;
    background-color: darkgrey;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 0px 20px;
}


.book {
    font-size: 20px;
    background: #B22222;
    color: white;
    width: 40%;
    height: 10%;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 5px;
    outline: 0;
    border-style: none;
}

.book:hover, .book:active {
    cursor: pointer;
    border-style: none;
    outline: 0;
    background: #F82825;
}

.footer {
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
}

#contact-content {
    float: right;
    background-color: #B22222;
    padding-right: 20%;
    padding-bottom: 3.2%;
}

#contact-content li {
    color: white;
    list-style-type: none;
}

.footer img {
    transform:translate(-80%, -10%);
    background-color: white;
    height: 90%;
}

p {
    float: left;
    transform:translate(15%, 800%);
}

#tag {
    transform:translate(5%, -400%);
}
