h1, h2, .book{
    font-family: sans-serif;
    margin-left: 10%;
    color: white;
}

.top-content {
    width: 70%;
    margin-left: 5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5%;
    word-break: break-all;
}

#packages > * {
    margin: 2%;
}

#packages {
    display: inline-flex;
    height: 500px;
}

#background-checks {
    background-color: lightgrey;
    width: 30%;
    border-radius: 0px 20px;
}

#investigations {
    background-color: darkgrey;
    width: 30%;
    border-radius: 0px 20px;
}

#surveillance {
    background-color: grey;
    width: 30%;
    border-radius: 0px 20px;
}

#background-checks .book {
    margin-top: 30%;
}

.book {
    font-size: 20px;
    background: #D82826;
    color: white;
    width: 40%;
    height: 10%;
    margin-top: 30%;
    margin-left: 30%;
    border-radius: 5px;
    outline: 0;
    border-style: none;
}

.book:hover, .book:active {
    cursor: pointer;
    border-style: none;
    outline: 0;
    background: #F82825;
}

.footer {
    background-color: #D82826;
    color: white;
    height: 300px;
}

#contact-content {
    float: right;
    margin-right: 2%;
}

#contact-content li {
    color: black;
}

p {
    margin-left: 2%;
       
}